    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <p>한글은 출력 안 될 거 같다.</p>

    <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application
    </p>

    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
